body {
    background: #343a40;
}
.title{
    color: white;
}
.wrapper {
    color:white;
    font-weight: bold;
    width: 300px;
    border-style: solid;
    border-color: white;
    padding:20px;
}
.btn{
    background-color: rgb(213, 213, 238);
    border:none;
    cursor: pointer;
    color:rgb(79, 77, 77);
}
.btn:hover{
    background-color: rgb(65, 65, 227);
    color:white;
}